
table
  tr: td.tip-head
      = slide.tip
  
  tr: td.tip-text
      = slide.hint

  tr: td.button-row
    .slide-count
      = (curTip++) + "/" + tips
    .fav-button(data-id=slide.id)
      .not-faved-content
        | MARK AS FAVORITE
      .faved-content
        | MARKED AS FAVORITE
