extends layout

block title
  course.title
block content
  .swiper-container
    #swiper.swiper-wrapper
      each slide in course.slides
        .swiper-slide
          if slide.type == "cover"
            include partials/type-cover.jade
block toolbar
  .toolbar
    .toolbar-inner
      a.link(href="#") 17 of 35
      a.link(href="#") Favorite
      a.link(href="#") Next
