.pages
  .page(data-page="course").no-navbar
    .page-content
      .custom-navbar
        .custom-navbar-inner
          .left-abs
            a.link.back.icon-only(href="/")
              <
          .center
            = course.title
      .swiper-container
        #swiper.swiper-wrapper
            each slide, index in course.slides
              .swiper-slide
                case slide.type
                  when "cover"
                    include partials/type-cover.jade
                  when "statement"
                    include partials/type-statement.jade
                  when "section-cover"
                    include partials/type-section-cover.jade
                  when "tip"
                    include partials/type-tip.jade
    .toolbar.hidden
      .toolbar-inner
        a.link.muted(href="#") <span id="current_slide_num">0</span>&nbsp;of #{course.slides.length -1}
        a.link.muted(href="#") 
          i.fa.fa-heart-o
          | Favorite
        a.link.muted(href="#") Next
