body {
    font-size: 15px;
    font-family: 'Open Sans';
    color: grey;
}

#header {
    margin-top: 42px;
    width: 100%;
}

#main {
    margin-top: 70px;
}

#marketing {
    font-family: 'Montserrat';
    color: black;
    font-size: 45px;
        
}

.course-title {
    font-family: 'Montserrat';
    font-size: 25px;
    color: black;
}
.course-title:hover {
    color: black;
    text-decoration: none;
}
.footer {
    margin-top: 70px;
    background-color: grey;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer a {
    color: white;
}
.footer a:hover {
    color: #AAA;
    text-decoration: none;
}

#phone {
    float: right;
}

iframe {
    height: 548px;
    width: 320px;
    border: 0;
    border-top: 3px solid black;
}

#phone-skin {
    background-image: url('../img/iPhone.png');
    height: 812px;
    width: 404px;
    display: inline-block;
    padding-top: 148px;
    padding-left: 44px;
}

.arrow {
    vertical-align: top;
    /*cursor: pointer;*/
}

.icon {
    height: 48px;
    width: 48px;
}

a:hover {
    color: #098fc1;
}

#contacts {
    margin: 13px 20px;
}
