doctype
html(lang="en")
    head
        block meta
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width')

        title Hacker News Academy Editor

        block styles
            link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        
        block head-scripts

    body
      block content

      block scripts
          script(src="/bower_components/jquery/dist/jquery.min.js")

